<h1>| ABOUT |</h1>
<p>Hey..My name is Michael, I am an aspiring web developer..with a bunch of creative ideas.<br> I am currently enrolling on a Full-Stack course through CareerFoundry! ...Don't forget to watch this space,<br> for more exciting content.</p>

<ul>
<li><a href="http://localhost:3000">Index</a></li>
<li><a href="http://localhost:3000/static_pages/contact">Contact</a></li>
</ul>
