<div class="container">
  <div class="container-fluid" id="about-section">
    <h4> About </h4>
    <p>Hey..My name is Michael, I am an aspiring web developer..with a bunch of creative ideas.<br> I am currently enrolling on a Full-Stack course through CareerFoundry! ...Don't forget to watch this space,<br> for more exciting content.</p>
    <% sum = 4 + 5 %>
    <%= sum %>
  </div>
</div>