<h1>| CONTACT |</h1>
<p>Want to get a hold of me?, no problem just contact me using the following details: <a href="tel:01534876896"> +44 (0) 7829708263</a> | <a href="mailto:Michaeln.fernandes@hotmail.com">Michaeln.fernandes@hotmail.com</a></p>

<ul>
<li><a href="http://localhost:3000">Index</a></li>
<li><a href="http://localhost:3000/static_pages/about">About</a></li>
</ul>