<div class="container">
  <div class="container-fluid" id="index-section">
    <h4> Contact us </h4>
    <p>Want to get a hold of me?, no problem just contact me using the following details: <a href="tel:01534876896"> +44 (0) 7829708263</a> | <a href="mailto:Michaeln.fernandes@hotmail.com">Michaeln.fernandes@hotmail.com</a></p>
  </div>
</div>