<h1>| INDEX |</h1>
<p>Welcome to my page...The date and time is <i><%= Time.now %></i></p>
<p>You will be able to see all of my most important information on this page.</p>

<ul>
<li><a href="http://localhost:3000/static_pages/about">About</a></li>
<li><a href="http://localhost:3000/static_pages/contact">Contact</a></li>
</ul>