<div class="container">
  <div class="container-fluid" id="index-section">
    <h4> Index </h4>
    <p>Welcome to my page...The date and time is <i><%= Time.now %></i></p>
    <p>You will be able to see all of my most important information on this page.</p>
  </div>
</div>