// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//-------------A L L - P A G E S-------------//
body{
  font-size:1.4em;  
  color:black;
}

.container {
  width:85%;
}

.container-fluid {
  width:85%;
}

//MAIN-PAGE-BRAND-DESIGN -------------------------------------
.main-page-brand {
  padding-top:30px;
  height:350px;
  background-image:url('model.jpg');
  background-size:cover;
  background-position:top;
 border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  box-shadow:0px 0px 1px 0px grey;
}

.Project-atlas-title { 
  text-align:center;
  font-family:'Lobster', cursive;
  letter-spacing:9px;
  font-size:4em;
  margin:0 0 20px 0;
  font-weight:bolder;
  background-color:rgba(255,255,255,0.5);
}

.Welcome-sub-header {
  text-align:center;
  font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing:2px;
  font-size:1em;
  background-color:rgba(255,255,255,0.7);
}

#atlas-pic {
  width:60px;
  height:60px; 
  margin:-10px -15px 0 -26px;
}

//NAVIGATION-BAR -------------------------------------
.navbar-inverse {
  margin-bottom:0;
  background-image:url('maze.png');
}

.nav-links li {
  list-style:none;
}

.nav-links {
  padding-left:0px;
}

.navbar-brand {
  font-family:'Lobster', cursive;
  font-size:2em;
  padding-left:0;
  padding-right:10px;
  letter-spacing:2px;
  text-decoration:underline;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-inverse .navbar-brand {
  color:white;
}

.navbar {
  border-radius:5px 5px 0px 0px;
}
//FOOTER -------------------------------------

.main-footer{
  text-align:center;
  margin-top:10px;
  height:100px;
  background-color:rgba(0,0,0,0.05);
}

.footerlogo {
  font-family:'Lobster', cursive;
  font-size:3em;
  padding:20px 20px 10px 20px;
}

.footer-copyright {
  font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


//-------------LOGIN PAGE-------------//

#login-section{
  padding:0;
}

/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Raleway);
h2{
padding: 30px 35px;
margin: -10px -50px;
text-align:center;
border-radius: 10px 10px 0 0;
}

hr{
margin: 10px -50px;
border: 0;
border-top: 1px solid #ccc;
margin-bottom: 40px;
}


div.main-login{
width:250px;
margin:50px auto;
padding:10px 30px 25px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;

}

input[type=text],input[type=password]{
width: 100%;
height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
}

label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}

.note{
color:red;
}

.back{
text-decoration: none;
border: 1px solid rgb(0, 143, 255);
background-color: rgb(0, 214, 255);
padding: 3px 20px;
border-radius: 2px;
color: black;
}

input[type=button]{
font-size: 16px;
background: linear-gradient(#ffffff 5%, #f2f2f2 100%);
border: 1px solid #dfdfe5;
color: #4E4D4B;
cursor: pointer;
width: 100%;
border-radius: 5px;
padding: 10px 0;
outline:none;
}

input[type=button]:hover{
background: linear-gradient(#f2f2f2 5%, #f2f2f2 100%);
}
